<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanat.kotlinpractise">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinPractise">
        <activity
            android:name=".activity.SharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecycleViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ToolBarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SecondParamsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirstParamsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ToastContextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckboxRadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EdittextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>